.container{
    .content{
        margin: 10px 100px 5px 100px;
        display: flex;
        align-items: center;
        h2{
            text-decoration: underline;
        }
        p{
            text-transform: uppercase;
        }
    }
    .wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 100px;
        gap: 10px;
        .jobs{
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            align-items: center;
            height: auto;
            padding: 10px;
            border-radius: 10px;
        }
    }
    .navigator{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 100px;
        align-items: center;
        background-color:white;
        button{
            color: black;
        }
    } 
    .jobsSearchLength{
        margin: 100px;
    }  
}

